* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  max-width: 400px;
  margin: 0 auto;
  background: #000;
  color: #f9f9f9;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  /* border-bottom: 1px solid #1e3b49; */
  padding: 5px 10px;
  align-items: center;
  height: 45px;
  position: relative;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#main {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 45px);
}

.btn {
  border: 0;
  padding: 5px 15px;
  border-radius: 5px;
  height: 30px;
}

#expenseForm {
  /* border: 1px solid #efefef; */
}

.form-item {
  margin: 10px;
}

.form-item label {
  display: block;
  font-weight: bold;
}

.form-item input,
.form-item select,
.form-item button {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #242424;
  /* border-bottom: 1px solid #242424; */
  outline: none;
  background: transparent;
  /* color: #f9f9f9; */
color-scheme: dark;
}

.form-item button {
  cursor: pointer;
  background: #007796;
}

.show-expense {
  padding: 10px;
}
#allRecordsDisplayUI {
  max-width: 400px;
  margin: 0 auto;
}
.record {
  padding: 10px;
  border: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
}
.price {
  color: #1e3b49;
}
.edit-btn {
  border: 0;
  padding: 5px;
  border-radius: 5px;
}

#notification {
  display: none;
  box-sizing: content-box;
  padding: 15px 25px;
  font-size: 15px;
  background: #242424ba;
  border-radius: 25px;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 10;
  /* box-shadow: 10px 10px 10px rgba(0,0,0,0.1), -8px -8px 10px #f9f9f9; */
}

.expenseList {
  margin-top: 5px;
  flex-grow: 1;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  /* border-bottom: 0.5px solid #1d1c1c; */
}

.expense-item:hover {
  background: #1d1c1c;
}

.expenseListheader {
  display: flex;
  justify-content: space-between;
  background: #242424;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 20px;
  
}

.expenseListheader input {
  background: transparent;
  color-scheme: dark;

  border: 0;
  outline: none;
}

.expenseListheader p {
  color: #007796;
}

/* .card{
  height: 100%;
  padding: 20px 0;
} */


.wrapper{
  display: flex;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  gap: 20px;
  background: transparent;
  scroll-snap-type: x mandatory;
  
}

.card{
  scroll-snap-align: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
  background: #24242475;
}

#new-btn{
  background-image: url("../images/add.png");
  background-size: cover;
  cursor: pointer;
  background-position: center;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0;
}

#back-btn{
  background-image: url("../images/back.png");
  background-size: cover;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  background-size: 20px 20px;
  padding: 0;

}

#delete-btn{
  background-image: url("../images/delete.png");
  background-size: cover;
  cursor: pointer;
  background-position: center;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0;
}

#edit-btn{
  background-image: url("../images/edit.png");
  background-size: cover;
  cursor: pointer;
  background-position: center;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0;
}

#menu-btn{
  background-image: url("../images/menu-bar.png");
  background-size: cover;
  cursor: pointer;
  background-position: center;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0;
}

#side-nav{
  position: absolute;
  width: 0;
  height: 100vh;
  z-index: 2;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgb(34 34 34 / 40%);
  overflow-x: hidden;
  transition: 0.5s;
}

#side-nav > div{
  padding: 0 5px;
}

#side-nav a{
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #f9f9f9;
  border-bottom: 1px solid #403d3d;
}

#side-nav .import-label {
  cursor: pointer;
  display: block;
  padding: 10px;
  color: #f9f9f9;
  border-bottom: 1px solid #403d3d;
}

#side-nav #menu-close-btn{
  position: absolute;
  right: 10px;
  font-size: 20px;
  border-bottom: none;
}