*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#expensesForm{
    border: 1px solid #efefef;
    max-width: 400px;
    margin: 0 auto;
    .form-item{
        margin: 10px;
        label{
            display: block;
            font-weight: bold;
        }
        input, select, button{
            width: 100%;
            padding: 5px;
        }
        button{
            cursor: pointer;
        }
    }
}
#allRecordsDisplayUI{
    max-width: 400px;
    margin: 0 auto;
}
.record{
    padding: 10px;
    border: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
}
.price{
    color: #1e3b49;
}
.edit-btn{
    border: 0;
    background: #efefef;
    padding: 5px;
    border-radius: 5px;
}